body {
  background: url("https://i.ibb.co/HN712tP/HD-wallpaper-starry-sky-stars-night-black.jpg");
}

.head__login {
    flex-basis: 20%;
}

.head__login-link {
    padding: 12px 0px;
    background-color: var(--color-blue-50);
    filter: drop-shadow(rgba(44, 26, 206, 0.952) 0px 10px 15px);
    color: var(--color-white);
}

.main {
    margin: auto;
    padding: auto;
    padding-bottom: 50px;
}

.main__title{
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}

.main__form {
    width: 559px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    margin: 50px 0 0 0;
}


.main__field {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }
  
  .form__field {
    gap: 0.5rem;
  }
  
  .main__input {
    padding: 1rem;
    font-family: "Raleway", sans-serif;
    background-color: var(--color-white);
    border-radius: 4px;
    border: none;
  }
  
  .main__input:focus {
    outline-color: var(--color-blue-100);
  }
  
  .main__btn {
    text-align: center;
    width: 100%;
    padding: 1rem;
    color: var(--color-white);
    border-radius: 4px;
    border: solid thin transparent;
    padding: 16px;
    background-color: var(--color-blue-50);
    filter: drop-shadow(rgba(44, 26, 206, 0.952) 0px 10px 15px);
  }
  
  .main__btn:hover {
    border-color: var(--color-blue-100);
    background-color: var(--color-black);
    filter: drop-shadow(rgba(15, 197, 164, 0.952) 0px 10px 15px);
    color: var(--color-blue-100);
  }

  @media screen and (max-width: 768px) {
    .head__login-link {
        padding: 12px 0px;
    }
    .main__form {
        width: 704px;
    }
    .head__login {
        flex-basis: 40%;
    }
  }

  @media screen and (width: 540px){
  .main__form {
      width: auto;
  }
  .head__search-input-none {
    display: none;
  }
  .head__menu{
    width: auto;
  }
}

  @media screen and (max-width: 425px) {

    .main {
      margin: 0px 20px;
      padding: 0px;
    }
    .main__form {
        margin: 50px 0 50px 0; 
        width: 100%;
    }
    
    .head__login {
        flex-basis: 45%;
        font-size: 14px;
    }

    .main__title {
      font-size: 22px;
      line-height: 26px;
    }
    
  }